.waiting-container {
    background: rgba(122,122,122,0.49);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1010;
    top: 0;
    left: 0;
}

.my-waiting {
    background: #133283;
    color: white;
    width: max-content;
    padding: 1rem 3rem;
    margin-top: auto;
    position: relative;
    bottom: 0;
}